# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public
README.md
vite.config.jsx
vite.config.js
package.json
package-lock.json
.eslintrc.cjs
#index.js

# Custom
# src/ui/common/checkoutlist
# src/ui/common/buttons
# src/ui/common/modal
# src/ui/common/receipt
# src/ui/common/TableUtils.jsx
# src/ui/common/dashboard