.app-dashboard-main {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-areas: 
      "title title title"
      "pth pth os"
      "ptb ptb os"
      "ptf ptf os";
    overflow: hidden;
}

.pos-title-section {
    grid-area: title;
}
.pos-products-table-header {
    grid-area: pth;
}
.pos-products-table-body {
    grid-area: ptb;
    overflow: auto !important;
}
.pos-products-table-footer {
    grid-area: ptf;
}
.pos-orders-section {
    grid-area: os;
    background-color: #ccc;
}