/* --MAIN-LAYOUT-- */
.app-dashboard-main {
    column-gap: var(--app-spacing);
    row-gap: var(--app-spacing);
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-areas: 
      "title-container title-container title-container"
      "filtering-container filtering-container tabs-container"
      "table-container table-container tab-container"
      "pagination-container pagination-container checkout-btn";
    overflow: hidden;
}

/* --TITLE-CONTAINER-- */
.pos-title-container {
    grid-area: title-container;
}

/* --FILTERING-CONTAINER-- */
.pos-filtering-container {
    grid-area: filtering-container;
}

/* --TABLE-CONTAINER-- */
.pos-table-container {
    grid-area: table-container;
    overflow: auto !important;
}

/* --PAGINATION-CONTAINER-- */
.pos-pagination-container {
    grid-area: pagination-container;
}

/* --TABS-CONTAINER-- */
.pos-tabs-container {
    grid-area: tabs-container;
}

/* --TAB-CONTAINER-- */
.pos-tab-container {
    display: grid;
    grid-area: tab-container;
    row-gap: 0;
    overflow: hidden;
}

/* --TAB-CONTAINER:IS-CHECKOUT-LIST-- */
.pos-tab-container.is-checkout-list {
    row-gap: var(--app-spacing);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas: 
        "tab-checkout-list"
        "tab-checkout-info";
}

/* --TAB-CONTAINER:IS-ORDER-INFO-- */
.pos-tab-container.is-order-info {
    border: 1px solid var(--app-border-color);
    border-radius: 0;/*var(--app-border-radius);*/
}

/* --CHECKOUT-LIST */
.pos-tab-checkout-list {
    border: 1px solid var(--app-border-color);
    border-radius: 0;/*var(--app-border-radius);*/
    grid-area: tab-checkout-list;
    padding: 0;
    margin: 0;
    overflow: auto;
}
.pos-tab-checkout-list-item {
    border-bottom: 1px dashed var(--app-main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--app-padding) / 2);
}
.pos-tab-checkout-list-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.pos-tab-checkout-list-item-status {
    color: #71717A;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}
.pos-tab-checkout-list-item-name {
    color: var(--app-main-color);
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.pos-tab-checkout-list-item-description {
    color: #6B6B6B;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
    margin-bottom: .5em;
}
.pos-tab-checkout-list-item-total-price {
    color: var(--app-main-color);
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.pos-tab-checkout-list-item-qty-btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid var(--app-border-color);
    border-radius: 12px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .4);
    padding: 4px;
    height: max-content;
}
.pos-tab-checkout-list-item-qty-btn-group > * {
    font-size: 16px;
    padding: 0 4px;
    width: 100%;
    margin-bottom: 0.2em;
    text-align: center;
}
.pos-tab-checkout-list-item-qty-btn-group > *:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.pos-tab-checkout-list-item-qty-btn-group-btn {
    background-color: var(--app-main-color);
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
}
.pos-tab-checkout-list-item-qty-btn-group-btn:hover {
    /*color: #fff;*/
}
.pos-tab-checkout-list-item-qty-btn-group-txt {
    color: var(--app-main-color);
    text-align: center;
    font-weight: 600;
    line-height: 1;
}

/* --CHECKOUT-INFO-- */
.pos-tab-checkout-info {
    grid-area: tab-checkout-info;
    border: 1px dashed var(--app-main-color);
    background-color: #F9FAFA;
    padding: calc(var(--app-padding) / 2);
}
.pos-tab-checkout-info-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 16px;
    margin-bottom: var(--app-spacing);
}
.pos-tab-checkout-info-item:last-child {
    margin-bottom: 0;
}
.pos-tab-checkout-info-item-name {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    line-height: 1;
}
.pos-tab-checkout-info-item-value {
    color: var(--app-main-color);
    font-size: inherit;
    font-weight: normal;
    margin: 0;
    line-height: 1;
}

.pos-tab-order-info {
    padding: calc(var(--app-padding) / 2);
}

/* --CHECKOUT-BTN-CONTAINER-- */
.pos-checkout-btn {
    grid-area: checkout-btn;
}