.appDashboardMain {
    grid-template-columns: 1fr 1fr 0.7fr;
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-areas: 
      "title-container title-container title-container"
      "filtering-container filtering-container tabs-container"
      "table-container table-container tab-container"
      "pagination-container pagination-container checkout-btn-container";
}

.titleContainer {
  grid-area: title-container;
}

/* --FILTERING-CONTAINER-- */
.filteringContainer {
  grid-area: filtering-container;
}

/* --TABLE-CONTAINER-- */
.tableContainer {
  grid-area: table-container;
  overflow: auto !important;
}

/* --PAGINATION-CONTAINER-- */
.paginationContainer {
  grid-area: pagination-container;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --TABS-CONTAINER-- */
.tabsContainer {
  grid-area: tabs-container;
}

/* --TAB-CONTAINER-- */
.tabContainer {
  grid-area: tab-container;
  display: grid;
  row-gap: 0;
  overflow: hidden;
}
/* --TAB-CONTAINER:IS-CHECKOUT-LIST-- */
.tabContainer.isCheckoutList {
  background-color: red;
  row-gap: var(--app-spacing);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
  grid-template-areas: 
      "tab-checkout-list"
      "tab-checkout-info";
}
/* --TAB-CONTAINER:IS-ORDER-INFO-- */
.pos-tab-container.isOrderInfo {
  border: 1px solid var(--app-border-color);
  border-radius: 0;
}
/* --TAB-CHECKOUT-LIST */
.tabCheckoutList {
  border: 1px solid var(--app-border-color);
  border-radius: 0;
  grid-area: tab-checkout-list;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.tabCheckoutListItemStatus {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--app-padding);
}
/* --CHECKOUT-BTN-CONTAINER-- */
.checkoutBtnContainer {
  grid-area: checkout-btn-container;
}