.app-button { 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .app-button
  .app-button-icon {
    filter: opacity(0);
    position: absolute;
    line-height: 0.5;
  }
  .app-button.is-loading
  .app-button-icon {
    filter: opacity(1);
  }
  .app-button.is-loading
  .app-button-text {
    filter: opacity(0);
  }