.app-input-text-search {
  position: relative;
}
.app-input-text-search-input {
  padding-left: 1.8rem;
}
.app-input-text-search-icon {
  color: #777C81;
  position: absolute;
  transform: translateY(-50%);
  left: 0.50rem;
  top: calc(50% - 1px);
}