.app-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: opacity(0);
    pointer-events: none;
    user-select: none;
    cursor: none;
    transition: ease .3s;
    z-index: 999;
}

.app-modal-container.shown {
    filter: opacity(1);
    pointer-events: all;
    cursor: auto;
}

.app-modal {
    border-radius: var(--app-border-radius);
    background: #fff;
    width: 540px;
}

.app-modal-header {
    padding: var(--app-padding);
}

.app-modal-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

.app-modal-body {
    padding: 0 var(--app-padding);
}

.app-modal-footer {
    display: flex;
    justify-content: end;
    padding: var(--app-padding);
}

.app-modal-footer > * {
    margin-right: var(--app-spacing);
}

.app-modal-footer > *:last-child {
    margin-right: 0;
}

/* --- APP-MODAL-DIALOG-TEXT --- */
.app-modal-dialog-text {
    
}