/* --SX-- */
.-sx-4 > * {
    margin-right: 4px; 
}
.-sx-8 > * {
    margin-right: 8px;
}
.-sx-12 > * {
    margin-right: 12px;
}
.-sx-16 > * {
    margin-right: 16px; 
}
.-sx-24 > * {
    margin-right: 24px;
}

[class^="-sx-"] > *:last-child {
    margin-right: 0;
}

/* --SY-- */
.-sy-4 > * {
    margin-bottom: 4px; 
}
.-sy-8 > * {
    margin-bottom: 8px;
}
.-sy-12 > * {
    margin-bottom: 12px;
}
.-sy-16 > * {
    margin-bottom: 16px; 
}
.-sy-24 > * {
    margin-bottom: 24px;
}

[class^="-sy-"] > *:last-child {
    margin-bottom: 0;
}