.app-breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}
.app-breadcrumb-item {
  color: #71717A;
  font-size: 14px;
  font-weight: 500;
  display: contents;
  line-height: 1;
}
.app-breadcrumb-item-icon {
  position: relative;
  top: -0.1em;
}
.app-breadcrumb-item a {
  color: inherit;
  text-decoration: none;
}
.app-breadcrumb-item + .app-breadcrumb-item::before {
  color: #9A9A9A;
  content: '>';
  padding: 0 calc(var(--app-spacing) * 1.2);
}

.app-breadcrumb-item.is-active {
  color: var(--app-main-color);
  pointer-events: none;
}
.app-breadcrumb-item.is-active a {
  text-decoration: none;
}

.app-breadcrumb-item:hover:not(.is-active) {
  color: #3459E6;
}
.app-breadcrumb-item:hover::before {
  color: #9A9A9A;
}

.app-breadcrumb-item:hover:not(.is-active) > a {
  text-decoration: underline;
}