.app-button {
    position: relative;
}
.app-button-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}
.app-button-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --IDLE-STATE-- */
.app-button 
.app-button-icon {
    filter: opacity(0);
}
.app-button
.app-button-text {
    filter: opacity(1);
}

/* --LOADING-STATE-- */
.app-button.is-loading
.app-button-icon {
    filter: opacity(1);
}
.app-button.is-loading
.app-button-text {
    filter: opacity(0);
}