.app-border {
    border-radius: var(--bs-border-radius);
    border: 1px solid var(--app-border-color);
}

.app-txt-primary {
  color: var(--app-main-color);
  font-weight: 500;
}

.app-txt-h1 {
  line-height: 1;
}

.app-bm {
  border: 1px solid var(--app-border-color);
}
.app-br {
  border-right: 1px solid var(--app-border-color);
}
.app-p {
  padding: var(--app-padding);
}
.app-px {
  padding: 0 var(--app-padding);
}
.app-py {
  padding: var(--app-padding) 0;
}

/* -- P -- */
.app-p-4 {
    padding: 4px;
}
.app-p-8 {
    padding: 8px;
}
.app-p-12 {
    padding: 12px;
}
.app-p-16 {
    padding: 16px;
}

/* --SX-- */
.app-sx-4 > * {
    margin-right: 4px; 
}
.app-sx-6 > * {
    margin-right: 6px; 
}
.app-sx-8 > * {
    margin-right: 8px;
}
.app-sx-12 > * {
    margin-right: 12px;
}
.app-sx-16 > * {
    margin-right: 16px; 
}
.app-sx-24 > * {
    margin-right: 24px;
}

[class*="app-sx-"] > *:last-child {
    margin-right: 0;
}

/* --SY-- */
.app-sy-4 > * {
    margin-bottom: 4px; 
}
.app-sy-8 > * {
    margin-bottom: 8px;
}
.app-sy-12 > * {
    margin-bottom: 12px;
}
.app-sy-16 > * {
    margin-bottom: 16px; 
}
.app-sy-24 > * {
    margin-bottom: 24px;
}

[class*="app-sy-"] > *:last-child {
    margin-bottom: 0;
}