.app-dashboard-main {
    column-gap: var(--app-spacing);
    row-gap: var(--app-spacing);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 1fr max-content;
    grid-template-areas: 
      "title-container"
      "filtering-container"
      "table-container"
      "pagination-container";
    overflow: hidden;
}

.inventory-title-container {
    grid-area: title-container;
}

.inventory-filtering-container {
    grid-area: filtering-container;
}

.inventory-products-table {
    grid-area: pt;
    overflow: auto;
}

.inventory-pagination-section {
    grid-area: ps;
}