#root {
  user-select: none;
}


/* --TEXT-- */
.app-text-title {
  color: var(--app-main-color);
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
}
.app-text-title-caption {
  color: #71717A;
  font-size: 15px;
  font-weight: 400;
}
.app-text-paragraph {
  color: var(--app-main-color);
  font-weight: 500;
}
.app-text-label {
  color: var(--app-main-color);
  font-size: 14px;
  font-weight: 500;
}
.app-text-nowrap {
  white-space: nowrap;
}

/* --UTILS-- */
.app-sx-8 > * {
  margin-right: var(--app-spacing);
}
.app-sx-8 > *:last-child {
  margin-right: 0;
}

.app-sy-8 > * {
  margin-bottom: var(--app-spacing);
}
.app-sy-8 > *:last-child {
  margin-bottom: 0;
}
.app-sy-12 > * {
  margin-bottom: var(--app-spacing-12);
}
.app-sy-12 > *:last-child {
  margin-bottom: 0;
}