:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #fff;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  
  --app-main-color: #09090B;
  --app-border-color: #E4E4E7;
  --app-padding: 16px;
  --app-spacing: 8px;
  --app-gap-8: 8px;
  --app-border-radius: 8px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--app-main-color);
  font-weight: 600;
}

.react-icons {
  vertical-align: middle;
}

.react-icons-spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.app-mr-4 {
  margin-right: 4px;
}